---

<center> <h1>üìçüìç Variables and Data Types üìçüìç</h1> </center> 

---

---

###  üìç Variable Assignment


- When you create a variable you keep some space in memory. These memory locations are then used to store values. 



---

In [2]:
# define a variable name "a" and assign value 5 to it
a = 5

In [4]:
# print the value of variable
a

5

- To view some data on the output screen, python also has `print` function.
- Using `print` function we can control the view on the output screen.

---

In [6]:
print(a)

5

### üìç How variables work in Python

---

In [8]:
# Look at the following statements
a = 7
b = a
a = 3



***What will be the value of a?***


---

In [10]:
print(a)

3

In [12]:
print(b)

7

### üìç Variable naming rules


---
***Identifiers in Python***

* Like Variables, we have to define functions, classes, etc in python. Naming them helps to differentiate one entity from another.
* All these names given to these entities are known as `Identifiers`. 
* Python have some rules to define the Identifiers.  


***Rules of Writing Identifiers***

* Python is case sensitive language.
* Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _.
* Names like myVariable, var_1 and print_this, all are valid example.
* An identifier cannot start with a digit.
* `1variable` is invalid, but `variable1` is perfectly fine.
* We cannot use special symbols like !, @, #, $, % etc. in our identifier. `_` is allowed.

* ***`Keywords` cannot be used as identifiers. `Keywords` are the reserved words in Python.***

---

***Keywords in Python***

---

* False	
* class	
* finally	
* is	
* return
* None	
* continue	
* for	
* lambda	
* try
* True, etc


---

---

***Python is case sensitive so `a` and `A` are different***

---

In [14]:
A = 4
a = 400

In [16]:
print(a)
print(A)

400
4

***Rules to define variable names***

---

In [18]:
# allowed
a = 5

In [20]:
# only "_" underscore is allowed in allowed in special characters in the variable name
_a = 5

In [22]:
a_ = 500

In [24]:
# other special characters are not allowed
@a=5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3420493877.py, line 2)

In [26]:
# we can not start with variables name with a number
1a = 5

SyntaxError: invalid decimal literal (3566711490.py, line 2)

In [28]:
a1 = 500

---


###  üìç Data types

* int
* string
* float
* bool

---

In [30]:
# INTEGER TYPE
a = 5

In [32]:
type(a)

int

In [34]:
# STRING TYPE
b = "lakshay"

In [36]:
type(b)

str

In [40]:
# FLOAT TYPE
c = 5.55

In [42]:
type(c)

float

In [44]:
# BOOLEAN TYPE
d = True

In [46]:
e = False

In [50]:
type(d), type(e)

(bool, bool)

In [52]:
whos

Variable               Type        Data/Info
--------------------------------------------
A                      int         4
a                      int         5
a1                     int         500
a_                     int         500
b                      str         lakshay
c                      float       5.55
d                      bool        True
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000218256E3C40>
dataframe_hash         function    <function dataframe_hash at 0x0000021823FB2AC0>
dtypes_str             function    <function dtypes_str at 0x00000218256E3E20>
e                      bool        False
get_dataframes         function    <function get_dataframes at 0x0000021823FB2CA0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x0000021823FB36A0>
is_data_frame          function    <function is_data_frame at 0x0000021823FB32E0>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>

---

### üìç Type Conversion


***Python defines type conversion functions to directly convert one data type to another.***



---

***convert float to integer***

---

In [54]:
# age is generally in integer numbers
my_age = 26.33333
my_age = int(my_age)
my_age

26

***convert string to integer***

---

In [56]:
# if we try to add string and integer number, it will give an error
my_int = '2' + 6

TypeError: can only concatenate str (not "int") to str

In [58]:
# type conversion: string to int
my_int = int('2') + 6
my_int

8

In [60]:
type(my_int)

int